h1,
p {
  font-family: Lato;
}

body {
  min-height: 100vh;
  background-color: rgb(211, 199, 199);
}

.parent {
  width: 100%;
  margin: 2rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.week_name {
  width: 100%;
  text-align: left;
  display: none;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: column;
}

.square {
  width: 100%;
  border: 1px solid;
  padding: 0.5rem 0.5rem 3.5rem;
  height: 8rem;
  overflow: auto;
}

.square:last-child {
  margin-bottom: 2rem;
}

.current_date {
  text-decoration: underline;
  font-weight: 900;
}

.event {
  background-color: salmon;
  text-align: center;
  border-radius: 0.5rem;
  width: 70%;
}

.day {
  color: rgb(0, 0, 0);
}

.day_container {
  display: flex;
  width: 100%;
  gap: 0.2rem;
}

.month_name {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .parent {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .parent {
    max-width: 1024px;
  }

  .container {
    flex-direction: row;
    gap: 0.1rem;
  }

  .square {
    width: 14%;
  }

  .week_name {
    display: block;
  }
}

@media (min-width: 1280px) {
  .parent {
    max-width: 1280px;
  }
}

@media (min-width: 2560px) {
  .parent {
    max-width: 2560px;
  }
}

